<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[好多钱]</key>
	<string>1</string>
	<key>[元宝]</key>
	<string>2</string>
	<key>[红包]</key>
	<string>3</string>
	<key>[牛头]</key>
	<string>4</string>
	<key>[熊]</key>
	<string>5</string>
	<key>[涨停卡]</key>
	<string>6</string>
	<key>[跌停卡]</key>
	<string>7</string>
	<key>[黑马]</key>
	<string>8</string>
	<key>[开盘咯]</key>
	<string>9</string>
	<key>[收盘咯]</key>
	<string>10</string>
	<key>[跳水]</key>
	<string>11</string>
	<key>[套牢]</key>
	<string>12</string>
	<key>[嘻嘻]</key>
	<string>101</string>
	<key>[钱]</key>
	<string>102</string>
	<key>[酷]</key>
	<string>103</string>
	<key>[顶]</key>
	<string>104</string>
	<key>[哈哈]</key>
	<string>105</string>
	<key>[闭嘴]</key>
	<string>106</string>
	<key>[太开心]</key>
	<string>107</string>
	<key>[爱你]</key>
	<string>108</string>
	<key>[生病]</key>
	<string>109</string>
	<key>[抓狂]</key>
	<string>110</string>
	<key>[色]</key>
	<string>111</string>
	<key>[衰]</key>
	<string>112</string>
	<key>[睡觉]</key>
	<string>113</string>
	<key>[亲亲]</key>
	<string>114</string>
	<key>[怒]</key>
	<string>115</string>
	<key>[困]</key>
	<string>116</string>
	<key>[疑问]</key>
	<string>117</string>
	<key>[可怜]</key>
	<string>118</string>
	<key>[委屈]</key>
	<string>119</string>
	<key>[黑线]</key>
	<string>120</string>
	<key>[晕]</key>
	<string>121</string>
	<key>[书呆子]</key>
	<string>122</string>
	<key>[抠鼻]</key>
	<string>123</string>
	<key>[吃惊]</key>
	<string>124</string>
	<key>[汗]</key>
	<string>125</string>
	<key>[鼓掌]</key>
	<string>126</string>
	<key>[哭]</key>
	<string>127</string>
	<key>[左哼哼]</key>
	<string>128</string>
	<key>[右哼哼]</key>
	<string>129</string>
	<key>[鄙视]</key>
	<string>130</string>
	<key>[感冒]</key>
	<string>131</string>
	<key>[偷笑]</key>
	<string>132</string>
	<key>[懒得理你]</key>
	<string>133</string>
	<key>[吐]</key>
	<string>134</string>
	<key>[思考]</key>
	<string>135</string>
	<key>[怒骂]</key>
	<string>136</string>
	<key>[奋斗]</key>
	<string>137</string>
	<key>[恐怖]</key>
	<string>138</string>
	<key>[失望]</key>
	<string>139</string>
	<key>[生气]</key>
	<string>140</string>
	<key>[拜拜]</key>
	<string>141</string>
	<key>[呵呵]</key>
	<string>142</string>
	<key>[悲伤]</key>
	<string>143</string>
	<key>[馋嘴]</key>
	<string>144</string>
	<key>[哈欠]</key>
	<string>145</string>
	<key>[哼]</key>
	<string>146</string>
	<key>[可爱]</key>
	<string>147</string>
	<key>[泪]</key>
	<string>148</string>
	<key>[无奈]</key>
	<string>149</string>
	<key>[嘘]</key>
	<string>150</string>
	<key>[赞]</key>
	<string>151</string>
	<key>[眨眼]</key>
	<string>152</string>
	<key>[good]</key>
	<string>153</string>
	<key>[弱]</key>
	<string>154</string>
	<key>[最差]</key>
	<string>155</string>
	<key>[耶]</key>
	<string>156</string>
	<key>[拳头]</key>
	<string>157</string>
	<key>[ok]</key>
	<string>158</string>
	<key>[握手]</key>
	<string>159</string>
	<key>[来]</key>
	<string>160</string>
	<key>[rock]</key>
	<string>161</string>
	<key>[no]</key>
	<string>162</string>
	<key>[fuck]</key>
	<string>163</string>
	<key>[碰杯]</key>
	<string>164</string>
	<key>[大便]</key>
	<string>165</string>
</dict>
</plist>
