<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>galaves.com</string>
	<string>113921.com</string>
	<string>115173.com</string>
	<string>117527.com</string>
</array>
</plist>
